:root {
  --primary-text-color: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --blue-main-button-hover: #188ce8;
  --primary-white-color: #757575;
  --button-background: #f5f4fa;
  --white-color: #ffffff;
  --black-box-color: #2f303a;
  --style-for-footer-contacts: #acacb0;
  --background-for-header: #ececec;
  --size-margin-one: 20px;
}
body {
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие стили и стили портфолио */
/* Отмена подчеркиваний */

.link {
  text-decoration: none;
}
.ul-li {
  list-style: none;
}
/* Хедер */
/* Логтип */
.logoweb {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}
/* Ссылки навигации */

.header-item {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
  color: var(--title-text-color);
  margin-right: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-item:hover,
.header-item:focus {
  font-weight: 500;
  line-height: 1.14;
  color: var(--accent-color);
}

/* Hover для контактов */
.header-contact {
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 2%;
  color: var(--primary-white-color);
  margin-right: 15px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* Позиционирование Хедер */
.nav {
  display: flex;
  align-items: center;
}
.logo-flex {
  margin-right: 93px;
  padding-left: 215px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 215px;
}

.header-list {
  display: flex;
}

/* Позиционирование Main */

.button-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 94px 494px 0px 495px;
}
.main-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--size-margin-one));
  margin-left: calc(-1 * var(--size-margin-one));
}
.main-list > .main-item {
  flex-basis: calc(100% / 3 - var(--size-margin-one));
  margin-left: var(--size-margin-one);
  margin-top: var(--size-margin-one);
}

/* Позиционирование Футер */
.footer-container {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  margin-bottom: 20px;
  margin-left: 215px;
}
.footer-list {
  padding: 0px 0px 60px 215px;
}
/* Позиционирование главной страницы */
/* Позиционирование main главной страницы */
/* Main first */
.main-first-container {
  display: flex;
}
/* main-second-container */
.main-second-container {
  padding: 94px 215px 94px 215px;
}
.main-second-list {
  display: flex;
  width: 1170px;
  height: 101px;
  align-items: center;
  margin-right: -30px;
}
.main-second-item {
  width: calc(100% / 4 - 30);
  margin-right: 30px;
  align-content: center;
}
/* main-third-container */
.main-third-container {
  padding: 94px 247px 94px 183px;
  display: flex;
}

.main-third-title {
  margin: 94px 644px 50px 580px;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.main-third-list {
  align-content: center;
  display: flex;
  margin-right: -30px;
  justify-content: center;
}
.main-third-item {
  width: calc(100% / 3 - 30);
  margin-right: 30px;
}
/* Секция наша команда */
.team {
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  padding-right: auto;
  padding-left: auto;
  margin-top: calc(-1 * var(--size-margin-one));
  margin-left: calc(-1 * var(--size-margin-one));
}
.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--size-margin-one));
  margin-left: var(--size-margin-one);
  margin-top: var(--size-margin-one);
}
.card-content {
  padding: 30px 68px 30px 70px;
}
.card {
  background-color: white;
}
.card-list {
  padding: 50px 215px 94px 215px;
}
.card-list-title {
  padding-top: 94px;
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-background);
}

/* Футер основная страница */

/* Main contant */
.main {
  background-color: var(--white-color);
}
/* Скрытый заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Кнопки портфолио */
.button-item {
  font-family: Roboto;
  font-style: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  cursor: pointer;
  font-family: inherit;
  margin-right: 8px;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
}
.button-item:active {
  color: var(--accent-color);
}
.buton {
  display: flex;
  padding-top: 94px;
  padding-left: 495px;
}

/* Основной контент */
/* Шрифты основного контента портфолио */
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
/* Текст портфолио */
.text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--title-text-color);
}
/* Footer */
.footer {
  background-color: var(--black-box-color);
}
/* Вторая часть логотипа футера */
.footer-logo {
  color: var(--white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

/* Контактные данные футер*/
.footer-contact {
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--style-for-footer-contacts);
  margin-bottom: 9px;
}
.footer-contact:hover,
.footer-contact:focus {
  line-height: 1.7;
  color: var(--accent-color);
}
.adress {
  color: var(--white-color);
}

/* Стили главной страницы */
/* Хедер идентичен странице портфолио */
/* Основная секция */
.main-first-section {
  background-color: var(--black-box-color);
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
/* Заголовок */
.chief-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  vertical-align: top;
  color: var(--white-color);
  text-transform: uppercase;
  margin: 200px 452px 0px 452px;
  margin-bottom: 30px;
}
/* Кнопка под заголовком */
.main-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  margin: 0px 700px 200px 700px;
}
.main-button:hover,
.main-button:focus {
  letter-spacing: 0.03em;
  background-color: var(--blue-main-button-hover);
  color: var(--white-color);
  cursor: pointer;
  font-family: inherit;
}

/* Секция чем мы занимаемся */
/* Заголовки секции */
.main-second-title {
  font-weight: 700;
  line-height: 1.1;
}
/* Текст секции */
.main-second-text {
  line-height: 1.7;
  color: var(--primary-white-color);
}
/* Заголовок секции */
.main-third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* Секция наша команда */
/* Основной заголовок секции */
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
/* Заголовки блоков секции */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
  margin-top: var(--size-margin-one);
}
/* Текст секции */
.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
}

/* footer идентичен портфолио */
